<div class="products-container">
  <div class="row justify-content-center">
    <div class="col-6">
      <div class="container">
        <div id="typed-strings">
          <p>Reservas_</p>
        </div>
        <span id="typed"></span>

        <div class="card bg-white justify-content-center">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col" class="table-title">RESERVA</th>
                <th scope="col" class="table-title">CONSOLE</th>
                <th scope="col" class="table-title">JOGO</th>
                <th scope="col" class="table-title">VALOR</th>
                <th scope="col" class="table-title">
                JOGADOR</th>
                <th scope="col" class="table-title"></th>
                <th scope="col" class="table-title"></th>
              </tr>
            </thead>
            <tbody>
              <% @boooked_items.each do |item| %>
                <tr>
                  <th scope="row"><%= item.transactions.last.id %></th>
                  <td><%= item.console_model %></td>
                  <td><%= item.game_title %></td>
                  <td>R$<%= item.transactions.last.cost %></td>
                  <td><%= item.transactions.last.user.email %></td>
                  <td><a><%= link_to "Detalhes", class: "btn btn-outline-success" %></a>
                  <a><%= link_to "Devolver",class: "btn btn-outline-success" %></a></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="container">
        <div class="listings">
          <div id="typed-strings2">
            <p>Anúncios_</p>
          </div>
          <span id="typed2"></span>

          <div class="card bg-white justify-content-center">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col" class="table-title">ID</th>
                    <th scope="col" class="table-title">ITEM</th>
                    <th scope="col" class="table-title">CATEGORIA</th>
                    <th scope="col" class="table-title">VALOR (R$/DIA)</th>
                    <th scope="col" class="table-title"></th>
                  </tr>
                </thead>
                <tbody>
                  <% @my_items.each do |item| %>
                    <tr>
                      <th scope="row"><%= item.id %></th>
                      <% if item.game_title == "" %>
                        <td><%= item.console_model %></td>
                      <% else %>
                        <td><%= item.game_title %></td>
                      <% end %>
                      <td><%= item.category %></td>
                      <td><%= format("%.2f", item.price) %></td>
                      <td>
                        <% if policy(item).update? %>
                          <% if item.category == "Console" %>
                            <a href="#" role="button"><%= link_to "Editar", edit_item_path(id: item, category: "Console"), class: "btn btn-outline-success" %></a>
                          <% else %>
                            <a href="#" role="button"><%= link_to "Editar", edit_item_path(id: item, category: "Jogo"), class: "btn btn-outline-success" %></a>
                          <% end %>
                          <a href="#" role="button"><%= link_to "Deletar", item_path(item), method: :delete, data: { confirm: "Tem certeza de quer deletar este item?" }, class: "btn btn-outline-success" %></a>
                        <% end %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
          </div>
        </div>
      </div>
    </div>
</div>


