<div class="container">
  <div class="py-3">
    <p>
      <span style="font-family: 'Orbitron', sans-serif;">Filtre por</span>
      <%= link_to 'Consoles', items_path(category: "console"), class: 'btn btn-outline-primary ml-3' %>
      <%= link_to 'Jogos', items_path(category: "jogo"), class: 'btn btn-outline-primary' %>
      <%= link_to 'Todos', items_path, class: 'btn btn-outline-primary' %>
    </p>

  </div>
  <div class="cards">
    <% @items.each do |item| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1544272871-94010c4c8f94?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=400&ixid=eyJhcHBfaWQiOjF9&ixlib=rb-1.2.1&q=80&w=600)">
      <div>
        <% if item.game_title == "" %>
          <h3> <%= link_to item.console_model, item_path(item), class: "a-deco" %></h3>
          <p class="xs-small-card">Diária: R$ <%= item.price %></p>
        <% else %>
          <h3> <%= link_to item.game_title, item_path(item), class: "a-deco" %></h3>
          <p class="xs-small-card"> <%= item.console_model %></p>
          <p class="xs-small-card">Diária: R$ <%= item.price %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    Made by
    <span>
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/thierryfro" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/nannazinha" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/mimipacheco" />
      <img class="avatar" alt="avatar" src="https://kitt.lewagon.com/placeholder/users/joaopthompson" />
    </span> at Jenner <i class="fas fa-copyright"></i>
  </div>
</div>


