<div class="container products-container ">
  <div class="py-3">
    <p>
      <span style="font-family: 'Orbitron', sans-serif;">Filtre por</span>
      <%= link_to 'Consoles', items_path(category: "console"), class: 'btn btn-outline-primary ml-3' %>
      <%= link_to 'Jogos', items_path(category: "jogo"), class: 'btn btn-outline-primary' %>
      <%= link_to 'Todos', items_path, class: 'btn btn-outline-primary' %>
    </p>

  </div>
  <div class="cards">
    <% @items.each do |item| %>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(
       <%= cl_image_path item.photo, height: 400, width: 600, crop: :fill %>)">
      <div>
        <% if item.game_title == "" %>
          <h3> <%= link_to item.console_model, item_path(item), class: "a-deco" %></h3>
          <p class="xs-small-card">Diária: R$ <%= item.price %></p>
        <% else %>
          <h3> <%= link_to item.game_title, item_path(item), class: "a-deco" %></h3>
          <p class="xs-small-card"> <%= item.console_model %></p>
          <p class="xs-small-card">Diária: R$ <%= item.price %></p>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>

