<div class="container-dois products-container ">
  <div class="card">
    <div class="card-header">
      <% if @item.game_title == "" %>
          <h1><%= @item.console_model %></h1>
        <% else %>
          <h1><%= @item.game_title %></h1>
        <% end %>
        <% if @item.game_title == "" %>
          <h2><%= "" %></h2>
        <% else %>
          <h5>Console: <%= @item.console_model %></h5>
        <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title"><strong>Categoria: </strong><%= @item.category %></h5>
      <br>
      <h5 class="card-text"><strong>Preço: </strong> R$<%= @item.price %> / dia</h5>
      <br>
      <h5 class="card-text"><strong>Usuário Locador: </strong><%= @item.user.email %></h5>
      <br>
      <% if policy(@item).not_owner? %>
        <a><%= link_to "Alugar Item", new_item_transaction_path(@item), class: "btn btn-outline-success" %></a>
      <% end %>
      <br>
      <% if policy(@item).not_owner? %>
        <a><%= link_to "Nova Avaliação", new_item_review_path(@item), class: "btn btn-outline-success" %></a>
      <% end %>
        <div class="card">
          <% @item.reviews.each do |review|%>
            <%= review.content %>
            <%= review.rating %>
          <% end %>
        </div>
      <br>

      <a><%= link_to "Voltar à página principal", items_path, class: "links" %></a>
        <% if policy(@item).update? %>
          <% if @item.category == "Console"  %>
            <a> | <%= link_to "Editar", edit_item_path(category: "Console"), class: "links" %></a>
          <% else %>
            <a> | <%= link_to "Editar", edit_item_path(category: "Jogo"), class: "links" %> | </a>
        <% end %>

          <a> <%= link_to "Deletar", item_path(@item), method: :delete, data: { confirm: "Tem certeza de quer deletar este item?" }, class: "links" %></a>
        <% end %>
    </div>
  </div>
</div>

