<div class="container products-container  bg-white">
  <div id="typed-strings">
      <p>Reservas_</p>
  </div>
  <span id="typed"></span>

  <div class="container bg-white justify-content-center">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="table-title">ID</th>
          <th scope="col" class="table-title">CONSOLE</th>
          <th scope="col" class="table-title">JOGO</th>
          <th scope="col" class="table-title">VALOR</th>
          <th scope="col" class="table-title"></th>
          <th scope="col" class="table-title"></th>
          <th scope="col" class="table-title"></th>
        <br>
        </tr>
      </thead>
      <tbody>
        <% @transactions.each_with_index do |transaction, index| %>
          <tr>
            <th scope="row"><%= transaction.id %></th>
            <td><%= transaction.item.console_model %></td>
            <td><%= transaction.item.game_title %></td>
            <td>R$<%= transaction.cost %></td>
            <td><%= link_to "Detalhes", confirmed_path(transaction.item, transaction), class: "btn btn-outline-success" %></td>
            <td><%= link_to "Avaliar", new_item_review_path(transaction.item), class: "btn btn-outline-success" %></td>
            <td>
              <% if !transaction.item.available && !transaction.devoluted %>
                <%= link_to "Devolver", item_devolutions_path(transaction.item, transaction.id), class: "btn btn-outline-success", method: :post %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
