<div class="container-dois">
  <div class="card">
    <div class="card-header">
      <% if @item.game_title == "" %>
          <h1><%= @item.console_model %></h1>
        <% else %>
          <h1><%= @item.game_title %></h1>
        <% end %>
        <% if @item.game_title == "" %>
          <h2><%= "" %></h2>
        <% else %>
          <h5>Console: <%= @item.console_model %></h5>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Categoria: <%= @item.category %></h5>
      <br>
      <h5 class="card-text">Preço: R$<%= @item.price %> / dia</h5>
    <div class="form-wrapper" style="width: 600px; margin: 0 auto; padding-top: 30px;">
      <%= simple_form_for [@item, @transaction] do |f| %>
        <%= f.input :start_date, as: :string, required: false, input_html: {class: "datepicker startdate"}%>
        <%= f.input :end_date, as: :string, required: false, input_html: {class: "datepicker enddate"}%>
        <%= f.button :submit, value: 'Alugar', class: "btn btn-outline-success"%>
      <% end %>
      <br>
      <a><%= link_to "Voltar à página principal", items_path, class: "links" %></a>
      <br>
    </div>
    </div>
  </div>
</div>



