<div class="container-dois">
  <div class="card">
    <div class="card-header">
      <% if @item.game_title == "" %>
          <h1><%= @item.console_model %></h1>
        <% else %>
          <h1><%= @item.game_title %></h1>
        <% end %>
        <% if @item.game_title == "" %>
          <h2><%= "" %></h2>
        <% else %>
          <h5>Console: <%= @item.console_model %></h5>
      <% end %>
    </div>
    <div class="card-body">
      <h5 class="card-title">Categoria: <%= @item.category %></h5>
      <br>
      <h5 class="card-text">Preço: R$<%= @item.price %> / dia</h5>
      <br>

    <div>
      <%= simple_form_for [@item, @transaction], wrapper: :inline_form, html: { class: 'form-inline' }  do |f| %>
        <%= f.input :start_date, as: :string, input_html: { class: "range_start mb-2 mr-sm-2" }%>
        <%= f.input :end_date, as: :string, input_html: { class: "range_end mb-2 mr-sm-2" }%>
        <%= f.button :submit, value: 'Orçamento', class: "btn btn-outline-success mb-2"%>
      <% end %>
    </div>

      <br>

      <p><%= @transaction.cost %></p>


      <a><%= link_to "Voltar à página principal", items_path, class: "links" %></a>
      <br>

    </div>
  </div>
</div>



