  <div class="container bg-white" style="width: 600px; margin: 0 auto; top: 30px;">
      <h2> Incrível! </h2>
      <br>
      <p> Você acabou de alugar os seguintes itens:</p>
        <ul>
          <% if @transaction.item.game_title == "" %>
            <li><%= @transaction.item.console_model %></li>
          <% else %>
            <li><%= @transaction.item.game_title %></li>
          <% end %>
        </ul>
      <p> Você tem até <b><%= @transaction.end_date.strftime("%B %d, %Y") %></b> para devolver esses ítens! </p>
      <br>
      <p> Você pagará <b>R$ <%= @transaction.cost %></b> pelo aluguel desses ítens nesse período!</p>
      <br>
      <p>Em caso de dúvidas, entre em contato com <b><%= @transaction.item.user.email %></b>!</p>
      <br>
      <h2> Divirta-se! :)</h2>
      <br>
      <%= link_to "Ver todas as transações", transactions_path, class: "btn btn-outline-success" %>
  </div>



