<div class="container">
  <h2> Incrível! </h2>
  <br>
  <p> Você acabou de alugar um <%= @transaction.item.game_title %>!</p>
  <br>
  <p> Você tem até <%= @transaction.end_date %> para devolver esse jogo! </p>
  <br>
  <p> Você pagará R$ <%= @transaction.cost %> pelo aluguel desse jogo nesse período!</p>
  <br>
  <p>Em caso de dúvidas, entre em contato com <%= @transaction.user.email %>!</p>
  <br>
  <h2> Divirta-se! :)</h2>
  <br>
  <%= link_to "Ver todas as transações", transactions_path %>
</div>
